<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta property="og:type" content="website">

    <link rel="manifest" href="{{ asset('resources/favicon/manifest.webmanifest') }}" />
    <link rel="icon" type="image/png" href="{{ asset('resources/favicon/favicon-96x96.png') }}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{{ asset('resources/favicon/favicon.svg') }}" />
    <link rel="shortcut icon" href="{{ asset('resources/favicon/favicon.ico') }}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('resources/favicon/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-title" content="Dockerhub" />

    <title inertia>
      Dockhub
    </title>

    @vite(['inertia/app/app.ts', `inertia/pages/${page.component}.vue`])
    @inertiaHead()
    @stack('dumper')
  </head>

  <body class="min-h-screen w-screen font-sans">
    @inertia()
  </body>

</html>
